File
<br/>{{process.file_name}}
<br/> was processed and moved/renamed to
<br/> "{{process.file_name_new}}"
<br/>
Log file for this process: {{process.log_file}}
<br/><br/>
Total of <b>{{process.submitted_records}}</b> records were submitted to database out of which
    {% if process.db_response_ok > 0 %}
        <font color="green">
    {% else %}
        <font color="red">
    {% endif %}
<b>{{process.db_response_ok}}</b></font> were processed successfully.
<br/><br/>
<b>Errors and Alerts:</b>
<br/>
<b>DB Response Alerts:</b>
{% if process.db_response_alerts_count > 0 %}
    <font color="red"><b>The following DB response alerts were recorded:</b></font>
    <ol>
    {% for db_response_alert in process.db_response_alerts %}
        <li><font color="red">{{db_response_alert}}</font></li>
    {% endfor %}
    </ol>
    </font>
{% else %}
    <font color="green">No DB response alerts were recorded.</font>
{% endif %}
<br/>
<b>File level errors:</b>
{% if process.file_errors_present == True %}
    <font color="red"><b>Errors present - check log file for details!</b></font>
{% else %}
    <font color="green">No errors</font>
{% endif %}
<br/>
<b>Row level errors:</b>
{% if process.row_errors_present == True %}
    <font color="red"><b>Errors present - check log file for details!</b></font>
{% else %}
    <font color="green">No errors</font>
{% endif %}
<br/>
